<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center">
      Beer Selector
    </ion-title>
		<ion-buttons>
			<ion-button routerLink="/about" routerDirection="forward">
				About
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="giveAnswer()">

		<ion-card-header>
			Ask which beer you should drink next
		</ion-card-header>

		<ion-card-content>
			<img src="assets\icon\chimes-black.png" alt="chimes_logo"/>
		</ion-card-content>
	</ion-card>
</ion-content>
